/***********
 *	COLORS
 ***********/
body {
  padding: 60px 40px 40px 40px;
}
.header-center {
  text-align: center;
}
.jumbotron {
  text-align: center;
}
.jumbotron {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}
.container .gray {
  color: gray;
}
.center-text {
  text-align: center;
}
.form-qualifiers {
  max-width: 90%;
  padding: 10px 0px 29px;
  margin-left: 60px;
  margin-top: 5px;
}
.form-qualifiers h2 {
  text-align: center;
  margin-top: 0px;
}
.form-qualifiers input[type="text"] {
  font-size: 13px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.form-signin {
  max-width: 70%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
}
.form-signin h2 {
  text-align: center;
  margin-top: 0px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 13px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.limit-width {
  max-width: 100%;
}
