<div class="container">
	<h1>Welcome to your dashboard, <font color=green><%= user.first_name %></font></h1>
	<hr>
	<p>Contact: <%= user.email %></p>
	<p>Password: <%= user.password %></p>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id%>">Edit<a>
</div>