<div class="container">
		<form action="/session/new" method="POST" class="form-signin">
			<h2 class="form-signin-heading">Login</h2>

			<% if(flash && flash.err) { %>
				<div class="alert alert-warning">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<%- JSON.stringify(flash.err[error]) %>
			<% }) %>
				</div>
			<% } %>

			Email: <input type="email" class="form-control" placeholder="email address" name="email">
			Password: <input type="password" class="form-control" placeholder="password" name="password">

			<br>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</form>

		<div class="center-text">
			Haven't registered for moocRP yet? Register <a href="/signup">here.</a>
		</div>
</div>