<form action="/user/create" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Researcher Signup Form</h2>

	<% if(flash && flash.err) { %>
		<div class="alert alert-warning">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<%- JSON.stringify(flash.err[error]) %>
	<% }) %>
		</div>
	<% } %>
	Welcome to moocRP! Since this is your first time using this service, please fill in the following information:
	<br>
	NOTE: Currently, only Berkeley researchers and instructors are allowed to create an account using their Berkeley email address.
	<br><br>
	<label>First Name: </label><input type="text" class="form-control" placeholder="first name" name="first_name">
	<label>Last Name: </label><input type="text" class="form-control" placeholder="last name" name="last_name">
	<label>Email: </label><input type="email" class="form-control" placeholder="email address" name="email">
	<br>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create">
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>