<div class="mini-banner auto">
  <div class="container">
    <h2>Reports</h2>
  </div>
</div>

<div class="sub-banner">
  <div class="container">
    <h2>Manage Notices & Reports</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Unresolved Reports</h2>
      <p>8/13/14 - Under development</p>

      <h2>Resolved Reports</h2>
      <p>8/13/14 - Under development</p>
    </div>

    <div class="col-md-6">
      <h2>Notices</h2>
      <p>8/13/14 - Under development</p>
    </div>
  </div>
</div>