<div class="container">
	<h1>About moocRP</h1>
	<div>
		<h4>moocRP is currently being developed as part of a research project at University of California, Berkeley. moocRP aims to be a platform where...</h4>
	</div>
	<br>
	<h1>Team Members</h1>
	<div>
		<ul>
			<li>Zach Pardos</li>
			<li>Derrick Coetzee</li>
			<li>Kevin Kao</li>
			<li>Ananth Subramaniam</li>
		</ul>
	</div>
</div>