<div class="mini-banner auto">
	<div class="container">
		<h2>About</h2>
	</div>
</div>
<br>

<div class="container">
	<h2>About moocRP</h2>
	<div>
		<p>moocRP is currently being developed as part of a research project at University of California, Berkeley. moocRP aims to be a platform where research conducted on large amounts of MOOC data can be shared, through a revolutionizing way of sharing data analytics and visualizations.</p>
		<p>moocRP serves as a platform to bring the educational research community together and further the potential of research discoveries through the sharing of research results, tackling the problem of "reproducible research."</p>
	</div>
	<br>
</div>

<br>

<div class="container">
	<h2>Team Members</h2>
	<div>
		<p>
			<b>Lead Developer:</b>
			<br>
			Kevin Kao
		</p>
		<p>
			<b>Professor & Advisor:</b>
			<br>
			Zach Pardos
		</p>
		<p>
			<b>Advisor:</b>
			<br>
			Derrick Coetzee
		</p>
	</div>
</div>