<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1" class=""></li>
    <li data-target="#home-carousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <style>
  			.home-banner {
  				vertical-align: center;
  				margin-top: 70px;
  			}
		  </style>
		<div class="container wrapper home-banner">
		    <div class="jumbotron">
		        <h1>moocRP</h1>
            <h2>a research platform dedicated to tackling the problem of <br><font color="#0e6471">"reproducible research"</font></h2>
            <br>
            <h3>read more <a href="/about">here</a></h3>
		        <a href="/user/login" class="btn btn-lg btn-primary">Login now!</a>
		    </div>
		</div>
    </div>
    <div class="item">
      <!-- <img data-src="" alt="Second slide" src=""> -->
    	<style>
  			.home-banner {
  				vertical-align: center;
  				margin-top: 70px;
  			}
	    </style>
		<div class="container wrapper home-banner">
		    <div class="jumbotron">
		        <h1>moocRP</h1>
		        <h2>a research platform dedicated to tackling the problem of <br><font color="#0e6471">"reproducible research"</font></h2>
            <br>
            <h3>read more <a href="/about">here</a></h3>
		        <a href="/user/login" class="btn btn-lg btn-primary">Login now!</a>
		    </div>
		</div>
    </div>
    <div class="item">
      <!-- <img data-src="" alt="Third slide" src=""> -->
    	<style>
  			.home-banner {
  				vertical-align: center;
  				margin-top: 70px;
  			}
	    </style>
		<div class="container wrapper home-banner">
		    <div class="jumbotron">
		        <h1>moocRP</h1>
            <h2>a research platform dedicated to tackling the problem of <br><font color="#0e6471">"reproducible research"</font></h2>
            <br>
            <h3>read more <a href="/about">here</a></h3>
            <a href="/user/login" class="btn btn-lg btn-primary">Login now!</a>
		    </div>
		</div>
    </div>
  </div>
  <a class="left carousel-control" href="#home-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#home-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="sub-banner">
  <div class="container">
  <h1>How?</h1>
  </div>
</div>

<div class="container wrapper">
  <div class="col-md-4">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="valign">
            <span class="glyphicon glyphicon-book lg"></span><br><font class="glyph-header">MOOC Research</font>
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="valign">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="valign">
            <span class="glyphicon glyphicon-cloud-upload lg"></span><br><span class="glyph-header">Data Sharing</span>
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="valign">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="valign">
            <span class="glyphicon glyphicon-signal lg"></span><br><span class="glyph-header">Data Analytics</span>
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="valign">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sub-banner">
  <div class="container">
  <h1>Why?</h1>
  </div>
</div>

<div class="container">
<h3>Because together, researchers can make myriads of discoveries, efficiently learning what each other has learned.</h3>
</div>
