/***********
 *	COLORS
 ***********/
@gray: #777574;

.carousel-inner {
  background: url('/images/banner.jpg');
}

/******************
 * Bootstrap Edits
 ******************/
body {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', 'Ubuntu', sans-serif;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

.sub {
  font-size: 8px;
}

.gold {
  color: gold;
}

.red {
  color: red;
}

.tab {
  margin-right: 25px;
}

.no-indent {
  list-style-position: inside;
  padding-left: 0;
  margin-left: -35px;
}

/** End Tables **/

.row-item {
  padding: 10px;
  border: 1px solid #ddd;
}

.row-item:hover {
  border-color: black;
}

.notification {
  font-size: 8px;
  color: red;
  display: inline;
}

.carousel {
  min-height: 500px;
  overflow: hidden;
  background: #333;
}

.section {
  padding-left: 10px;
  border-left: #3fbf79 solid 4px
}

.codebox {
  display: inline-block;
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}

.box {
  padding: 20px;
  padding-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;

  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.box:hover {
  border-color: black;
}

/** Button Styling **/
.btn-primary {
  background-color: #236B8E;
}
/** End Button Styling **/

/** Pagination Styling **/
.dropdown-active {
  color: #FFFFFF;
  background: #205A80;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: #236B8E;
}

@media (min-width:769px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/** End Pagination Styling **/

/** Dropdown Styling **/
.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu > li > a:hover {
  background-color: #EAEAEA;
}

.open .dropdown-toggle.navbar-button {
  background-color: inherit;
}
/** End Dropdown Styling **/

/** File Upload **/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.btn-file:hover {
  border: 1px solid #66afe9;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/** End File Upload **/

/** Panel Styling **/
.panel {
	margin-left: -17px;
}

.panel-default > .panel-heading {
  background: #236B8E;
  color: white;
}

.panel-heading a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.panel-heading a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.panel-heading.link:hover {
  cursor: pointer;
}

.panel-heading h1 {
  display: inline-block;
}
/** End Panel Styling **/

/** Miscellaneous **/
.footer {
  padding-bottom: 100px;
}
/** End Miscellaneous **/

/** Navbar Styling **/
.navbar-nav {
  margin: 0px -15px;
  margin-bottom: -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-text {
  text-align: center;
}

.navbar-inverse {
  background-color: #236B8E;
  border-bottom-color: #205A80;
  border-bottom-width: 5px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  color: #eaeaea;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;

}

.navbar-brand img {
  /*max-width:30px; margin:-10px; margin-right:-10px;*/
  max-width: 30px;
  display: inline-block;
  position: relative;
  margin-top: -5px;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > .navbar-button {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > .navbar-active-button,
.navbar-inverse .navbar-nav > li > .navbar-active-button:hover,
.navbar-inverse .navbar-nav > li > .navbar-button:hover {
  color: #FFFFFF;
  background: #205A80;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;

}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;

}

.navbar-inverse .navbar-toggle {
  border-color: #333333;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {

}

.navbar-inverse .navbar-toggle .icon-bar {

}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;

}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #205A80;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }

  .dropdown-header {
    color: #FFFFFF;
  }
}

.navbar-button, .navbar-active-button {
  font-family: "Ubuntu";
  color: #ffffff;
  border-bottom: solid 4px transparent;
  text-decoration: none;
  float: left;
  padding: 10px 20px 15px 20px;
  height: 100%;
  font-size: 18px;
  margin-top: 2px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.navbar-brand {
  margin-bottom: 0;
  height: 35px;
  color: #3fbf79;
  padding-right: 45px;
}

.navbar-active-button {
  color: #FFFFFF;
}

.navbar-active-button:focus,
.navbar-button:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-button {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-active-button {
    margin-left: 0px;
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #205A80;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #205A80;
  border-color: transparent;
}

a.btn.btn-default.btn-sm.navbar-btn {
  max-height: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 9px;
  color: #333;
  font-size: 14px;
}

a.btn.btn-default.btn-sm.navbar-btn:hover {
  background-color: #eee;
}
/** End Navbar Styling **/

.undecorated {
  font-weight: normal;
}

/*******
 * END
 *******/


/**************
 * Glyphicons
 **************/
.md {
  font-size: 18px;
}

.lg {
  font-size: 80px;
}

.glyph-header {
  font-size: 30px;
  vertical-align: middle;
  padding-left: 15px;
}

.star-wrap {
  text-align: center;
}

.gold-star {
  color: gold;
}

.grey-star {
  color: #ddd;
}

.grey-star:hover {
  color: gold;
}

/** Banner Styling **/
.mini-banner.auto {
  min-height: 0px;
  height: auto;
  padding-bottom: 20px;
}

.mini-banner.no-margin {
  margin-top: 0;
}

.mini-banner {
  margin-top: 50px;
  background-color: #074e68;
  width: 100%;
  min-height: 200px; 
  color: white;
}

.sub-banner h1,
.sub-banner h2,
.sub-banner h3,
.sub-banner h4,
.sub-banner h5,
.sub-banner h6,
.sub-banner p,
.mini-banner h1,
.mini-banner h2,
.mini-banner h3,
.mini-banner h4,
.mini-banner h5,
.mini-banner p {
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  color: white;
}

.mini-banner p {
  font-family: 'Ubuntu', sans-serif;
}

.sub-banner {
  border-top: solid 4px #127872;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #0e6471;
  width: 100%;
  color: white;
  margin-bottom: 5px;
}

.sub-banner h1 {
  font-size: 30px;
}

.sub-banner h2 {
  font-size: 20px;
}

.sub-banner h3 {
  font-size: 15px;
}

.banner {
  max-height: 400px;
  width: 100%;
}
/** End Banner Styling **/

.description-box,
#analytics-description {
  border: 1px solid black;
  padding: 15px;
}

/** Containers **/
.wrapper {
  padding: 40px 40px 40px 40px;
}

.header-center {
	text-align: center;
}

.jumbotron .container,
.container .jumbotron,
.jumbotron {
  text-align: center;
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
  padding-bottom: 20px;
  filter: alpha(opacity=75);
  opacity: 0.75;
  border-radius: 0px;
}

.container .gray {
	color: gray;
}

#analytics-container {
  border: 2px solid #074e68;
}
/** End Containers **/

/** Forms **/
textarea {
  resize: vertical;
}

textarea.full {
  width: 100%;
  max-width: 100%;
}

.form-qualifiers {
	max-width: 90%;
	padding: 10px 0px 29px;
	margin-left: 60px;
	margin-top: 5px;

	h2 {
		text-align: center;
		margin-top: 0px;
	}	
}

input[type=search] {
  height: 17px;
  line-height: 1;
  font-size: 14px;
}

select.input-sm {
  height: 27px;
  line-height: 17px;
  padding: 5px 8px;
}

.form-qualifiers input[type="text"] {
	font-size: 13px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-signin {
	max-width: 70%;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 20px;

	h2 {
		text-align: center;
		margin-top: 0px;
	}
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
	font-size: 13px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/** End Forms **/

/** Miscellaneous **/
.limit-width {
	max-width: 100%
}

.center-text {
  text-align: center;
}

/** Flip Effect **/

.flip-container {
  width: 320px;
  height: 320px;
  margin: auto;
  position: relative;
  background-color: #0e6471;
  color: white;
}

.flipper {
  width: 100%;
  height: 100%;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding: 10px;
}

.front {
  z-index: 2;
}

.back {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);  
  transform: rotateY(-180deg);  
}

.flip-container:hover .front {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container:hover .back {
  z-index: 2;   
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}


/** CREDITS David Walsh **/

/** Vertical Align Hacks **/
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}