<div class="mini-banner auto">
  <div class="container">
    <h2>Analytics</h2>
  </div>
</div>
<div class="sub-banner">
  <div class="container">
    <h2 id="step">Step 2: Visualize.</h3>
    <div class="progress">
      <div class="progress-bar active progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        <span class="sr-only">100%</span>
      </div>
    </div> 
  </div>
</div>

<div class="container wrapper" id="analytics-container">

<!--START_INSERTION_CODE-->


<!--INSERT-->


<!--END_INSERTION_CODE-->

  <a href="/analytics" class="btn btn-sm btn-primary">Back to Analytics</a>
</div>

<script>
</script>